<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="FAQ's" tabIcon="reorder"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Lapor" tabIcon="megaphone"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Inbox" tabIcon="mail"></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Account" tabIcon="contacts"></ion-tab>
  </ion-tabs>
  