<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home Page</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-grid>
        <ion-row>
          <ion-col col-12 style="height: 250px;">
              <ion-slides pager>

                  <ion-slide style="background-color: green">
                    <h2>Slide 1</h2>
                  </ion-slide>
                
                  <ion-slide style="background-color: blue">
                    <h2>Slide 2</h2>
                  </ion-slide>
                
                  <ion-slide style="background-color: red">
                    <h2>Slide 3</h2>
                  </ion-slide>
                
                </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
          <ion-row>
            <ion-col col-6><ion-icon name="heart"><br>Tentang ACC Whistle</ion-icon></ion-col>
            <ion-col col-6><ion-icon name="heart"></ion-icon></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6><ion-icon name="heart"></ion-icon></ion-col>
            <ion-col col-6><ion-icon name="heart"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>


        <ion-card>
            <img src="https://accwhistle.acc.co.id/img/tujuan.jpg" height="100px"/>
            <ion-card-content>
              <ion-card-title>
                Nine Inch Nails Live
                </ion-card-title>
              <p>
                The most popular industrial group ever, and largely
                responsible for bringing the music to a mass audience.
              </p>
            </ion-card-content>
          </ion-card>

</ion-content>
