<!--
  Generated template for the AccountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Accounts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item-group>
      <ion-item>Angola</ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>Logout</ion-item>
    </ion-item-group>

</ion-content>
